<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_venteBilletBd_Connection" connectionString="XpoProvider=MSSqlServer;data source=METRE\SQLEXPRESS;integrated security=SSPI;initial catalog=venteBilletBd" />
        <add name="localhost_venteBilletBd_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=METRE\SQLEXPRESS;integrated security=SSPI;initial catalog=venteBilletBd" />
        <add name="localhost_venteBilletBd_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=METRE\SQLEXPRESS;integrated security=SSPI;initial catalog=venteBilletBd" />
        <add name="localhost_venteBilletBd_Connection 3" connectionString="XpoProvider=MSSqlServer;data source=METRE\SQLEXPRESS;integrated security=SSPI;initial catalog=venteBilletBd" />
        <add name="localhost_venteBilletBd_Connection 4" connectionString="XpoProvider=MSSqlServer;data source=METRE\SQLEXPRESS;integrated security=SSPI;initial catalog=venteBilletBd" />
        <add name="localhost_venteBilletBd_Connection 5" connectionString="XpoProvider=MSSqlServer;data source=METRE\SQLEXPRESS;integrated security=SSPI;initial catalog=venteBilletBd" />
        <add name="localhost_venteBilletBd_Connection 6" connectionString="XpoProvider=MSSqlServer;data source=METRE\SQLEXPRESS;integrated security=SSPI;initial catalog=venteBilletBd" />
        <add name="localhost_venteBilletBd_Connection 7" connectionString="XpoProvider=MSSqlServer;data source=METRE\SQLEXPRESS;integrated security=SSPI;initial catalog=venteBilletBd" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>